/* ----- EDITED: editing the container to disappear ----- */
.item-hints3 {
  height: 0;
  width: 0;
  margin: 0;
}

/* ----- EDITED: position of the whole circle ----- */
.item-hints3 .hint {
  width: 60px;
  height: 60px;
  margin: 150px auto;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60vh;
  left: 36vw;
}

/* ----- UNEDITED ----- */
.item-hints3 .hint::before {
  /* //rotated squre */
  background-color: #fff;
  width: 8px;
  height: 8px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ----- EDITED: to change colour of glow ----- */
.item-hints3 .hint::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.3);
  -webkit-animation: home_hero_item_hints_glow 2s
    cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1)
    infinite;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #fff;
    box-shadow: 0 0 30px 5px #fff;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px #aa9b4800;
    box-shadow: 0 0 70px 50px #aa9b4800;
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px #aa9b4800;
    box-shadow: 0 0 0 50px #aa9b4800;
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #fff;
    box-shadow: 0 0 30px 5px #fff;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px #aa9b4800;
    box-shadow: 0 0 70px 50px #aa9b4800;
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px #aa9b4800;
    box-shadow: 0 0 0 50px #aa9b4800;
  }
}

/* ----- UNEDITED ----- */
.item-hints3 .hint-dot {
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
}
@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}
@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}
.item-hints3 .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color, opacity, visibility,
    -webkit-transform;
  transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, transform;
  transition-property: background-color, opacity, visibility, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease, ease, ease,
    cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
}
.item-hints3 .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item-hints3 .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}

/* ----- EDITED: transition after collapsing text ----- */
.item-hints3 .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  /* this part of the transition has been removed */
  /* -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease; */
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none;
}

/* ----- EDITED: text that appears on click ----- */
.item-hints3 .hint:hover .hint-content { 
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
  visibility: hidden;
  pointer-events: none;
  color: #1E1E1E;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 200%;
}

/* ----- EDITED: paragraph styling ----- */
.item-hints3 .hint:hover .hint-content p{ /* paragraph styling */
  width: 45vw;
}

/* ----- EDITED: styling the top straight line's size ----- */
.item-hints3 .hint:hover .hint-content::before {
  width: 5vw;
  transition: width 0.4s;
}

/* ----- EDITED: styling the top straight line's position ----- */
.item-hints3 .hint-content::before { 
  left: -6.25vw;
  width: 0px;
  top: 6vw;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}

/* ----- EDITED: styling the diagonal line ----- */
.item-hints3 .hint-content::after { 
  transform: rotate(90deg);
  left: -6.3vw;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  bottom: 5.2vw;
  width: 18vw;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  
}
.item-hints3 .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}

/* ----- EDITED: position of the text + lines ----- */
.item-hints3 .hint[data-position="4"] .hint-content {
  top: -24vw;
  left: 5vw;
  margin-left: 56px;
}

/* ================= RESPONSIVENESS  ================= */

@media only screen and (max-width: 1366px){
  .item-hints3 .hint {
    transform: scale(0.8);
  }
  .item-hints3 .hint[data-position="4"] .hint-content{
    left: 10vw;
    top: -34vw;
  }
  .item-hints3 .hint:hover .hint-content p {
    font-size: 1.4rem;
    width: 50vw;
  }
  .item-hints3 .hint-content::before {
    width: 7vw;
    left: -11.8vw;
  }
  .item-hints3 .hint-content::after {
    left: -11.8vw;
    bottom: 9.5vw;
    width: 28.2vw;
  }
}
@media only screen and (max-width: 1024px){
  .item-hints3 .hint {
    transform: scale(0.65);
    top: 44vh;
  }
  .item-hints3 .hint[data-position="4"] .hint-content{
    left: 10vw;
    top: -40vw;
  }
  .item-hints3 .hint:hover .hint-content p {
    font-size: 1.4rem;
    width: 64vw;
  }
  .item-hints3 .hint-content::before {
    width: 18vw;
    left: -12.5vw;
    top: 8vw;
  }
  .item-hints3 .hint-content::after {
    left: -12.5vw;
    bottom: 12.7vw;
    width: 32vw;
  }
}

@media only screen and (max-width: 768px){
  .item-hints3 .hint {
    transform: scale(0.6);
    top: 22vh;
  }
  .item-hints3 .hint[data-position="4"] .hint-content{
    left: 10vw;
    top: -49vw;
  }
  .item-hints3 .hint:hover .hint-content p {
    font-size: 1.1rem;
    width: 64vw;
  }
  .item-hints3 .hint-content::before {
    width: 25vw;
    left: -13.5vw;
    top: 11.3vw;
  }
  .item-hints3 .hint-content::after {
    left: -13.4vw;
    bottom: 15vw;
    width: 38vw;
  }
}